<div id="blog" >
    <h2>Plus</h2>
    <p>Some writting about programming and random toughts.</p>
    <div class="posts-list">

        {%- for post in site.posts -%}
        <div class="post">            
            <h3>{{ post.title }}</h3>

            <a class="post-link" href="{{ post.url | relative_url }}">
                <div class="read-btn">Read More</div>
            </a>
        </div>
        {%- endfor -%}

        {{ if pagination }}
        <div class="endless-scroll">
            +
        </div>
        {{ end if }}

    </div>
</div>