<div id="contact">
    <h3>Let me get back to you</h3>
    <form action="#" method="post">
        <div class="form-row">
            <label for="contact-method">HOW</label>
            <input type="text" id="name" name="name" placeholder="email? whatsapp? instagram? etc.." required>
        </div>
        <div class="form-row">
            <label for="name">WHO</label>
            <input type="text" id="name" name="name" placeholder="your email, phone number or @username.." required>
        </div>
        <div class="form-row">
            <label for="message">WHY</label>
            <textarea id="message" name="message" placeholder="why should I message you back?" required></textarea>
        </div>
        <button class="submit-btn" type="submit">SEND</button>
    </form>
</div>