<div id="skills">
    <h2>Languages</h2>

    <div class="skills">

        {% for skill in site.skills %}
        {%- if skill.type == "language" -%}
        <div class="coin">
            <div class="level-ring {{percentagem of mastery}}"></div>
            <svg>{{ icon svg path }}</svg>
            <h2><a href="{{ skill.url }}">{{ skill.name }}</a></h2>
            <p>{{ skill.level }}</p>
        </div>
        {%- endif -%}
        {% endfor %}

        {{ if pagination }}
        <div class="endless-scroll">
            +
        </div>
        {{ end if }}

    </div>
</div>