<div id="navbar">
    <div id="nav-links">
        <a href="/#presentation">root</a>
        <a href="/#skills">Stacks</a>
        <a href="/#projects">Projects</a>
        <a href="/#blog">Plus</a>
    </div>
    <div id="social-links">
        <div class="social-link">
            <a href="https://github.com/andersonlzcosta" target="_blank">
                <img src="{{ site.url }}/assets/img/github.svg" alt="">
            </a>
        </div>
        <div class="social-link">
            <a href="https://www.linkedin.com/in/andersonlzcosta" target="_blank">
                <img src="{{ site.url }}/assets/img/linkedin.png" alt="">
            </a>
        </div>
        <a href="/#contact">
            <div class="contact-btn">Contact me</div>
        </a>
    </div>
</div>