<div id="navbar">
    <div id="nav-links">
        <a href="/">root</a>
        <a href="/plus#skills">Languages</a>
        <a href="/plus#skills">Frameworks</a>
        <a href="/plus#projects">Projects</a>
        <a href="/plus">Plus</a>
    </div>
    <div id="social-links">
        <div class="social-link">
            <!-- <svg>{{ icon svg path }}</svg> -->
            <a href="github.com/andersonlzcosta"></a>
        </div>
        <div class="social-link">
            <!-- <svg>{{ icon svg path }}</svg> -->
            <a href="linkedin.com/andersonlzcosta"></a>
        </div>
        <a href="/plus#contact">Contact me</a>
    </div>
</div>