<div id="projects">
    <h2>Projects</h2>
    <div class="projects-list">

        {% for project in site.projects %}
        <div class="project">
            <img src="{{ site.url }}/assets/img/projects/{{ project.name | remove: '.md' }}.png" alt="">
            <div class="content">
             {{for each tech in project}}
             <div class="tech-badges">
                <img src="{{ site.url }}/assets/img/skills/{{ project.tech }}.svg" style="max-width: 30px;" alt="">
             </div>
            {{ next tech}}
            <h3>{{ project.title }}</h3>

            <a href="{{ project.url }}">
             <div class="read-btn">
                Read More
             </div>
            </a>
           </div>
        </div>
        {% endfor %}

        {{ if pagination }}
        <div class="endless-scroll">
            +
        </div>
        {{ end if }}

    </div>
</div>