#blog {
  .posts-list {
    .post {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 90%;
      margin: 0px auto;
      background-color: $gray-color;

      h4 {
        margin-left: 20px;
      }

      .post-link {
        margin-right: 20px;
        /* Optional: Adjust styling for the link */
        .read-btn {
          display: inline-block;
          padding: 8px 16px; /* Adjust padding to control width */
          border-radius: 20px; /* Adjust border-radius to control pill shape */
          background-color: red; /* Button background color */
          color: whitesmoke; /* Button text color */
          text-decoration: none;
          font-weight: bold;
          font-size: 0.6rem;
          cursor: pointer;
          transition: background-color 0.3s ease;
        
          &:hover {
            background-color: #0056b3; /* Button background color on hover */
          }
        }
      }
    }
  }
}