body {
    color: $text-color;
    background-color: $background-color;
}

a, div, label, p, h1, h2, h3, h4, h5, h6 {

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

h1 {
    color: $gray-color;
}

.main-container {
    max-width: 500px;
    margin: 0 auto;
}

#presentation {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;

    img {
        max-height: 199px;
        grid-column: 1;
    }

    p {
        grid-column: 2;
    }

    h1 {
        grid-column: 2;
    }
}

.white-sheet {
    background-color: #EFFAF5;
    color: $background-color;
}

[class$="-btn"] {
    display: inline-block;
    padding: 8px 16px; /* Adjust padding to control width */
    border-radius: 20px; /* Adjust border-radius to control pill shape */
    background-color: red; /* Button background color */
    color: whitesmoke; /* Button text color */
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #0056b3; /* Button background color on hover */
    }
}