#navbar {
  position: fixed;
  margin-top: 90vh;
  bottom: 40px;
  width: 100%;
  background-color: $black-color;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center; 
  gap: 20px;
  z-index: 2;

  #nav-links {
    margin-top: 2rem;
    display: flex;
    a {
      color: $white-color;
      text-decoration: none;
      margin-right: 15px;
      background-image: $tag-green;
      padding: 10px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;

      &:hover {
        background-image: linear-gradient(to bottom, #014825, $green-color);
      }
    }
  }

  #social-links {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .social-link {
      margin-right: 20px;
      max-height: 70px;
      display: flex;
      align-items: center;

      img { 
        max-height: 35px;
        background-color: $white-color;
        border-radius: 50%;
        padding: 10px;
      }

      a {
        color: $white-color;
        text-decoration: none;
      }
    }
  }
}
