#navbar {
  position: fixed;
  bottom: 40px;
  width: 100%;
  background-color: #01110A;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center; 
  gap: 20px;
  z-index: 2;

  #nav-links {
    margin-top: 2rem;
    display: flex;
    a {
      color: white;
      text-decoration: none;
      margin-right: 15px;
      background-image: linear-gradient(to bottom, #003E1F, #E5E5E5);
      padding: 10px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;

      &:hover {
        background-image: linear-gradient(to top, #003E1F, #E5E5E5);
      }
    }
  }

  #social-links {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .social-link {
      margin-right: 20px;
      max-height: 70px;
      display: flex;
      align-items: center;

      img { 
        max-height: 35px;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
