#presentation {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;

    img {
        max-height: 199px;
        grid-column: 1;
    }

    p {
        grid-column: 2;
        text-align: center;
        height: 100px; /* Set a fixed height */
        line-height: 100px; /* Match the height of the container */
        text-align: center;
    }

    h1 {
        grid-column: 2;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: $gray-color;
        font-size: 1.3rem;
    }
}