.skills {
    display: flex;
    justify-content: center;
}

.list-skill {
    display: flex;
    justify-content: center;
  
    .coin {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;S
  
      h3 {
        margin-top: 10px;
        text-transform: capitalize;
      }
    }
}

$circle-size: 200px; // Adjust as needed
$circle-thickness: 10px; // Adjust as needed

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $circle-size;
}

.circle {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: $circle-thickness solid #ccc; // Lighter color
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: $circle-thickness solid #000; // Darker color
    clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% calc(100% - var(--level)), 50% calc(100% - var(--level)));
  }
}