$circle-size: 80px;

.skills {
  display: flex;
  justify-content: center;
}

.skills-list {
  display: flex;
  justify-content: center;
  max-width: 90%;
  flex-wrap: wrap;
  margin: 0 auto;

  .coin {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-basis: calc(100% / 4);
    position: relative;

    h4 {
      margin-top: 10px;
    }
    
    .outer-circle {
      height: $circle-size;
      width: $circle-size;
      border-radius: 50%;
      box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                  -6px -6px 10px -1px rgba(255,255,255,0.7);
      .inner-circle {
        height: $circle-size;
        width: $circle-size;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                    -0.5px -0.5px 0px rgba(255,255,255,1),
                    0.5px 0.5px 0px rgba(0,0,0,0.15),
                    0px 12px 10px -10px rgba(0,0,0,0.05);
  
        img {
          display: block;
          width: 45px;
          height: auto;
        }
      }
    }

    circle {
      fill: none;
      stroke: url(#GradientColor);
      stroke-width: 3px;
      stroke-dasharray: 217;
      stroke-dashoffset: var(--level);
    }

    svg {
      position: absolute;
      top: 0;
      transform: rotate(90deg) scaleX(-1);
    }
  }
}