$background-color: #01110A;
$text-color: #EFFAF5;
$gray-color: #7D8491;
$light-gray-color: #E0DFDF;
$red-color: #D4340C;
$black-color:#01110A;
$green-color: #003E1F;
$white-color: #EFFAF5;
$tag-green: linear-gradient(to bottom, #003E1F, #01753b);