---
layout: base
---
<!-- nav no header -->
{%- include presentation.html -%}

<div class="white-sheet">
  <p class="about-me">
    Eu programao desde o meu primeiro estágio em Economia, mas só a 2 anos atrás que resolvi mudar para a carreira full time como  desenvolvedor full stack. Now I'm involved with node and its libraries. I also maintain infraesctrutures in AWS. I also colaborate with Coletivo Vértice. Abaixo eu listo o quão confiante eu me sinto com as tecnologias que já trabalhei. Você pode ler uma apresentação mais detalhada <a href="/about">sobre mim aqui</a>.
  </p>

  <div id="skills">
    {%- include frameworks.html -%}
    {%- include languages.html -%}
    {%- include techs.html -%}
  </div>

  {%- include projects.html -%}
  {%- include blog.html -%}

</div>

{%- include nav.html -%}
{%- include form.html -%}

<p class="footer">made from scracht by myself</p>