---
layout: base
---
<!-- nav no header -->
<div class="main-container">
     {%- include presentation.html -%}

      <div class="white-sheet">
        <p class="about-me">
          Eu programao desde o meu primeiro estágio em Economia, mas só a 2 anos atrás que resolvi mudar para a carreira full time como  desenvolvedor full stack. Now I’m involved with node and its libraries. I also maintain infraesctrutures in AWS. I also colaborate with Coletivo Vértice.  Leia mais sobre mim.
        </p>
      
      <!-- skills -->
      <div id="skills">
       {%- include frameworks.html -%}
       {%- include languages.html -%}
       {%- include techs.html -%}
      </div>
      {%- include projects.html -%}

      {%- include blog.html -%}
      </div>
</div>
<!-- contact form no footer -->